/* ==========================================================================
   Qevora AI SaaS — Web Fonts
   Font: Inter
   Source: https://github.com/rsms/inter (mirrored via @fontsource/inter)
   License: SIL Open Font License 1.1 — see assets/fonts/inter/LICENSE.txt
   Files are served locally so the template has no external font dependency.
   ========================================================================== */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/files/inter-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/files/inter-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter/files/inter-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/files/inter-latin-700.woff2") format("woff2");
}
